.mediabox {
align-items: center;
    background-color: grey;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    margin-left: 240px;
}
.mediabox img {
    width: 150px;
  border-radius: 10px;
 
}
.mediabox h1 {
    font-size: larger;
    float: top;
    padding-bottom: 30px;
   
}

.title-medier {
    margin-top: 20px;
    margin-left: 250px;
}

.paragraf-medier{
    margin-top: 20px;
    margin-left: 250px;
    max-width: 77%;
    text-align: center;
}


.mediabox p {
    font-size: small;
    display: flex;
}
.mediaboxinfo {
    padding: 10px;

}
.mediabox-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    list-style-position: inside;
    list-style-type: none;
}
.mediabox-links li {
padding: 10px;

}