html {
    font-family: Arial, Helvetica, sans-serif;
}

.Folkelab-titel {
    margin-top: 20px;
    margin-left: 300px;
    color: rgba(0, 169, 0, 0.616); 
    margin-bottom: 20px;
}
.folkelab-forklaring {
    color: rgba(0, 169, 0, 0.616);
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 20px;

  }

.head-text{
    margin-left: 300px;
    margin-top: 20px;
    width: 72%;
}
.main-img {
    width: 500px;
    border-radius: 15px;
    margin-left: 300px;
}

.folkelab-text-forklaring{
    margin-left: 300px;
    margin-top: 5px;
    width: 72%;

}

.arrangementer-titel {
    margin-left: 300px;
    margin-top: 20px;

}

.workshop {
    background-color: rgb(218, 218, 218);
    width: 300px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 300px;

}

.workshop-number1{
    margin-left: 300px
}

.workshop-number2{
    margin-left: 900px;
    margin-top: -335px

}

.workshop img {
    width: 300px;
    border-radius: 10px;
}


.workshop h3 {
    padding-left: 5px;
    font-size: medium;
    /* margin: 0%;
    padding: 0%; */
}
.workshop h4 {

    color: rgb(85, 85, 85);
    margin: 0%;
    padding: 0%;
    padding-left: 5px;
}
.workshop h5 {
    
    color: gray;
    margin: 0%;
    padding: 0%;
    padding-left: 5px;
}

.links-folkelab {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    list-style-position: inside;
    list-style-type: none;
}