body {
    font-family: Arial, Helvetica, sans-serif;
}

.brugbib {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;

}

.boks {
    background-color: #E8E8E8;
    width: 25%;

}

h1 {
    color: rgba(0, 169, 0, 0.616);
    font-size: 200%;
    margin-left: 13%;
    margin-bottom: 20px;

}

h2 {
    color: #74BF04;
    font-size: 125%;
    margin-bottom: 50px;
}

p {
    color: #0D0D0D;
    font-size: 100%;
    font-weight: bold;
}

.imgtils {
    height: 50%;
    width: 100%;
}

.topp {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 40px;
}

.topt {
    color: black;
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;

}


.undertitel-studerende{
    margin-top: 40px;

}